<!-- Big Slider --> 
<div class="row slideshow">
	<div class="small-9 small-centered columns">
		<div class="flexslider">
		  <ul class="slides">
		    <li>
		    	<%= image_tag "bentley.jpg" %>
		    </li>
		    <li>
		      <%= image_tag "auto-slide-2.jpg" %>
		    </li>
		    <li>
		      <%= image_tag "auto-slide-3.jpg" %>
		    </li>
		    <li>
		      <%= image_tag "auto-slide-4.jpg" %>
		    </li>
		  </ul>
		</div><!-- Close flexslider div --> 
	</div>
</div>


<!-- Auto Detailing Articles - big articles with images, 2 per row -->
<div class="review-wrapper">
	<div class="row">
		<h3 class="section-heading">Auto Detailing</h3>
	</div>

	<div class="row">
		<div class="small-12 large-6 columns">
			<div class="article">
				<%= link_to image_tag("birds-paint.jpg"), "#", class: "article-landing-image" %>
				<%= link_to "How birds could ruin the paint on your car.", "#", class: "article-landing-title" %>
			</div>
		</div>	
	</div>
</div> 


<!-- Auto Detailing Articles - small articles, 3 per row -->
<div class="review-wrapper">
	<div class="row">
		<div class="small-6 large-4 columns">
			<div class="article-small">
				<%= link_to "How car washes may be ruining the paint on your vehicle.", "#", class: "article-landing-title-small" %>
			</div>
		</div>	
	</div>
</div> 