<!-- Home Page Intro --> 
<div class="row">
	<h1 class="home-header">Auto Detailing and Power Washing</h1>
	<div class="small-10 small-centered columns">
		<h2 class="home-subtitle">With more than 18 years in business and a dedication to quality service, you will love what you see when we visit!</h2>
	</div>

	<div class="large-5 small-centered columns">
		<div class="home-call">
			<%= link_to "Get Started", contact_path, class: "big-button" %>
		</div>
	</div>
</div>

<!-- Video Section --> 
<div class="gray">
	<div class="row">
		<div class="large-8 small-centered columns">
			<%= image_tag("video.png", class: 'home-video') %>
		</div>
	</div>
</div>

<!-- Services Section --> 
<div class="row">
	<h3 class="section-heading">Services</h3>
	<h4 class="section-subheading">We don't leave any dirt behind.</h4>

	<div class="large-6 columns">
		<div class="empty-button">
			<%= link_to "Auto Detailing", auto_path, class: "empty-button" %>
			<p class="home-testimonial">
				“With two young children I never thought my car could look new again. But after one visit from Joel’s Mobile it does!”
			</p>
			<p class="home-testimonial-credit">- Lauralee Flores</p>
		</div>
		
	</div>
	<div class="large-6 columns">
		<div class="empty-button">
			<%= link_to "Power Washing", auto_path, class: "empty-button" %>
			<p class="home-testimonial">
				“My driveway looks cleaner than the day I bought my house.  All the oil stains are gone!  Easy, fast, and great quality!”
			</p>
			<p class="home-testimonial-credit">- Example Customer</p>
		</div>
	</div>
</div>

<!-- Get Started Section --> 
<div class="gray">
	<div class="get-started">
		<%= link_to "Get Started", contact_path, class: "get-started" %>
	</div>
</div>


<!-- Reviews Section --> 
<div class="row">
	<h3 class="section-heading">Reviews</h3>
	<h4 class="section-subheading">See what our customers are saying.</h4>
</div>

<div class="row">
	<%= render 'review' %>
	<%= render 'review' %>	
</div>

<div class="row">
	<%= render 'review' %>
	<%= render 'review' %>	
</div>

<!-- Reasons to Choose Joels Mobile -->
<div class="green">
	<h3 class="green">More Reasons to Choose Joel's Mobile</h3>
	
</div>