<!-- Intro Header Text --> 
<div class="row">
	<h1 class="power-header">You Name It, We <span>Wash</span> It!</h1>
</div>


<!-- Commercial Hot and Cold Power Washing -->
<div class="review-wrapper">
	<div class="row">
		<h3 class="section-heading">Commercial Hot &amp; Cold Power Washing</h3>
	</div>

	<div class="row">
		<div class="commercial-wrapper">
			<div class="small-8 small-centered large-4 large-uncentered columns">
				<%= image_tag "power-1.jpg" %>
				<p class="power-commercial">Concrete Cleaning</p>
			</div>
		</div>
		

		<div class="commercial-wrapper">
			<div class="small-8 small-centered large-4 large-uncentered columns">
				<%= image_tag "power-2.jpg" %>
				<p class="power-commercial">Graffiti Removal</p>
			</div>
		</div>

		<div class="commercial-wrapper">
			<div class="small-8 small-centered large-4 large-uncentered columns">
				<%= image_tag "power-3.jpg" %>
				<p class="power-commercial">Gum and Oil Removal</p>
			</div>
		</div>
	</div>

	<div class="gray">
		<div class="commercial-additional-services">
			<p class="commercial-additional-services">We also clean store fronts, sidewalks, heavy equipment, and more.</p>
		</div>
	</div>
</div> 


<!-- Residential Power Washing -->
<div class="review-wrapper">
	<div class="row">
		<h3 class="section-heading">Residential Power Washing</h3>
	</div>

	<div class="row">
		<div class="commercial-wrapper">
			<div class="small-8 small-centered large-4 large-uncentered columns">
				<%= image_tag "power-4.png" %>
				<p class="power-commercial">driveways</p>
			</div>
		</div>
		

		<div class="commercial-wrapper">
			<div class="small-8 small-centered large-4 large-uncentered columns">
				<%= image_tag "power-5.png" %>
				<p class="power-commercial">sidewalks</p>
			</div>
		</div>

		<div class="commercial-wrapper">
			<div class="small-8 small-centered large-4 large-uncentered columns">
				<%= image_tag "power-6.png" %>
				<p class="power-commercial">patios</p>
			</div>
		</div>
	</div>
</div> 


<!-- Reviews Section -->
<div class="review-wrapper">
	<div class="row">
		<h3 class="section-heading">Reviews</h3>
		<h4 class="section-subheading">See what our customers are saying about our power washing.</h4>
	</div>

	<div class="row">
		<%= render 'review' %>
		<%= render 'review' %>	
	</div>

	<div class="row">
		<%= render 'review' %>
		<%= render 'review' %>	
	</div>
</div> 


<!-- Find Out More Section --> 
<div class="gray">
	<div class="get-started">
		<%= link_to "Find Out More", contact_path, class: "get-started" %>
	</div>
</div>


<!-- Before and After --> 
<div class="row">
	<div class="small-5 columns ">
		<h3 class="compare">Before</h3>

		<!-- First Before --> 
		<div class="before-after before first-power">
		</div>

		<!-- Second Before --> 
		<div class="before-after before second-power">
		</div>

		<!-- Third Before --> 
		<div class="before-after before third-power">
		</div>
	</div>
	
	<div class="small-2 columns">
		<!-- First Connection --> 
		<div class="before-after-connection hide-for-medium-down">.</div>

		<!-- Second Connection --> 
		<div class="before-after-connection hide-for-medium-down">.</div>

		<!-- Third Connection --> 
		<div class="before-after-connection hide-for-medium-down">.</div>
	</div>

	<div class="small-5 columns">
		<h3 class="compare">After</h3>

		<!-- First After --> 
		<div class="before-after after first-power"></div>

		<!-- Second After --> 
		<div class="before-after after second-power"></div>

		<!-- Third After --> 
		<div class="before-after after third-power"></div>
	</div>
</div>


<!-- Photo Gallery --> 
<div class="row">
	<h3 class="section-heading">Photo Gallery</h3>
</div>
<div class="row">
	<div class="small-8 large-12 small-centered columns">
		<ul class="clearing-thumbs" data-clearing>
		  <li><%= link_to image_tag("power-box-5-small.png"), "power-box-5.jpg", class: "th" %></li>
		  <li><%= link_to image_tag("power-box-2-small.png"), "power-box-2.jpg", class: "th" %></li>
		  <li><%= link_to image_tag("power-box-3-small.png"), "power-box-3.jpg", class: "th" %></li>
		  <li><%= link_to image_tag("power-box-4-small.png"), "power-box-4.jpg", class: "th" %></li>
		</ul>
	</div>
	
</div>