<!-- Intro Header Text --> 
<div class="row">
	<h1 class="auto-header">Get Started</h1>
	<h2 class="auto-subtitle">It's so easy.  You'll be glad you did.</h2>
</div>

<!-- Green Get Started section --> 
<div class="green">
	<div class="row">
		<div class="large-8 small-centered columns">
			<div class="call-wrapper">
				<p class="green-dark">Give Us A Call</p>
				<p class="green-white">520-744-5635</p>
			</div>
		</div>
	</div>
</div>


<!-- Contact Us Form --> 
<div class="contact-form-wrapper">
  <div class="row">
    <div class="contact-form">
      <%= form_for @message, :url => contact_path do |f| %>

        <div class="small-12 large-7 columns">
          <!-- Name --> 
          <div class="small-4 columns">
            <%= f.label :name, class: "right inline", for: "right-label" %>
          </div>
          <div class="small-8 columns">
            <%= f.text_field :name, class: "contact-form-small", type: "text", id: "right-label" %>
          </div>
            

          <!-- Email --> 
          <div class="small-4 columns">
            <%= f.label :email, class: "right inline", for: "right-label" %>
          </div>
          <div class="small-8 columns">
            <%= f.text_field :email, class: "contact-form-small", type: "text", id: "right-label" %>
          </div>

          <!-- Phone --> 
          <div class="small-4 columns">
            <%= f.label :phone, class: "right inline", for: "right-label" %>
          </div>
          <div class="small-8 columns">
            <%= f.text_field :phone, class: "contact-form-small", type: "text", id: "right-label" %>
          </div>

          <!-- Vehicle --> 
          <div class="small-4 columns">
            <%= f.label :vehicle, class: "right inline", for: "right-label" %>
          </div>
          <div class="small-8 columns">
            <%= f.text_field :vehicle, class: "contact-form-small", type: "text", id: "right-label" %>
          </div>


          <!-- Interested In --> 
          <div class="small-4 columns">
            <p class="contact-form">Interested In</p>
          </div>
          <div class="small-8 columns">
            <div class="checkbox">
              <div class="row">
                <div class="small-6 columns">
                  <%= f.check_box :auto, class: "checkbox-contact-form" %>
                  <%= f.label :auto, "Auto Detailing", class: "checkbox-contact-form" %>
                </div>
                <div class="small-6 columns">
                  <%= f.check_box :power, class: "checkbox-contact-form" %>
                  <%= f.label :power, "Power Washing", class: "checkbox-contact-form" %>
                </div>
              </div>


                

            </div>
          </div>

          

        </div>

        <div class="small-12 large-5 columns">
          <!-- Message --> 
          <div class="form-box big">
            <%= f.text_area :message, placeholder: "Please share any concerns, interests, or special requests." %>
          </div>
        </div>

        <div class="row">
          <div class="small-4 small-centered columns">
            <%= f.submit "Submit", class: "contact-form-submit" %>
          </div>
        </div>
          
      <% end %>
    </div>
  </div>
</div>

<div class="one-em-spacer"></div>


<!-- Other Purchasing Options --> 
<div class="row">
  <div class="large-6 columns">
      <div class="empty-button">
        <%= link_to "Pay Online", "#", class: "empty-button" %>
      </div>  
    </div>
    <div class="large-6 columns">
      <div class="empty-button">
        <%= link_to "Buy a Gift Card", "#", class: "empty-button" %>
      </div>
    </div>
  </div>
</div>

