<footer>
	<div class="footer-top">
		<ul class="footer">
			<li class="footer <%= 'active' if current_page?(root_path) %>">
				<%= link_to "Home", root_path, class: "footer" %>
			</li>

			<li class="footer <%= 'active' if current_page?(auto_path) %>">
				<%= link_to "Auto Detailing", auto_path, class: "footer" %>
			</li>

			<li class="footer <%= 'active' if current_page?(power_path) %>">
				<%= link_to "Power Washing", power_path, class: "footer" %>
			</li>

			<li class="footer <%= 'active' if current_page?(about_path) %>">
				<%= link_to "About", about_path, class: "footer" %>
			</li>

			<li class="footer <%= 'active' if current_page?(learning_path) %>">
				<%= link_to "Learning Center", learning_path, class: "footer" %>
			</li>

			<li class="footer"  id="get-started">
				<%= link_to "Get Started", contact_path, class: "footer get-started-button" %>
			</li>
		</ul>
	</div>

	<div class="footer-bottom">
		<div class="row">
			<p class="phone">(520) 744-5635</p>
			<ul class="social-contacts">
				<!-- google --> 
				<li class="social-contacts">
					<%= link_to("https://plus.google.com/110845071903914857940/about") do %>
						<div class="social-footer google"></div>
					<% end %>
				</li>
				<!-- Yahoo! --> 
				<li class="social-contacts">
					<%= link_to("http://local.yahoo.com/info-20118156-joel-s-mobile-detailing-tucson;_ylt=AloTiPMOM4HvNg1FDZHWrXSHNcIF;_ylv=3?csz=Tucson,+AZhttp://local.yahoo.com/info-20118156-joel-s-mobile-detailing-tucson;_ylt=AloTiPMOM4HvNg1FDZHWrXSHNcIF;_ylv=3?csz=Tucson,+AZ") do %>
						<div class="social-footer yahoo"></div>
					<% end %>
				</li>
				<!-- Yelp --> 
				<li class="social-contacts">
					<%= link_to("http://www.yelp.com/biz/joels-mobile-detailing-and-power-washing-tucson") do %>
						<div class="social-footer yelp"></div>
					<% end %>
				</li>
				<!-- bing --> 
				<li class="social-contacts">
					<%= link_to("http://www.bing.com/local/Details.aspx?lid=YN68x735288&q=mobile%20auto%20detailing&qt=yp&tid=91f50f1543974d3bb3a9612776346388&cobrand=1&FORM=LLSV&js=n") do %>
						<div class="social-footer bing"></div>
					<% end %>
				</li>
				<!-- Yellow Pages --> 
				<li class="social-contacts">
					<%= link_to("http://www.yellowpages.com/tucson-az/mip/joels-mobile-detailing-15631998/reviews?lid=151147680") do %>
						<div class="social-footer yellow"></div>
					<% end %>
				</li>
				<!-- Dex --> 
				<li class="social-contacts">
					<%= link_to("http://www.dexknows.com/business_profiles/joel_s_mobile_detailing-b628712") do %>
						<div class="social-footer dex"></div>
					<% end %>
				</li>
				<!-- BBB --> 
				<li class="social-contacts">
					<%= link_to("http://www.bbb.org/tucson/business-reviews/auto-detailing/joels-mobile-detailing-and-power-washing-in-tucson-az-6000153") do %>
						<div class="social-footer bbb"></div>
					<% end %>
				</li>
			</ul>
		</div>
		
	</div>
</footer>