<div class="contain-to-grid fixed">
  <div class="row">
    <div class="logo">
      <%= link_to image_tag("logo.png"), root_path, id: "logo" %>
    </div>
    

    <section class="top-bar-section">
      <ul class="right">
        <li class="<%= 'active' if current_page?(root_path) %>">
          <%= link_to "Home", root_path %>
        </li>
        <li class="<%= 'active' if current_page?(auto_path) %>">
          <%= link_to "Auto Detailing", auto_path %>
        </li>
        <li class="<%= 'active' if current_page?(power_path) %>">
          <%= link_to "Power Washing", power_path %>
        </li>
        <li class="<%= 'active' if current_page?(about_path) %>">
          <%= link_to "About", about_path %>
        </li>
        <li class="<%= 'active' if current_page?(contact_path) %>" id="get-started">
          <%= link_to "Get Started", contact_path, class: "get-started-button" %>
        </li>
        <li class="phone-number">(520)744-5635</li>
      </ul>
    </section>
  </div>
</div>

